<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ultimatelinemanager"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_Color">

        <activity
            android:name=".activity.SelectTeamActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme_Color">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GeneriqueActivity"
            >

        </activity>
        <activity
            android:name=".activity.list_players.PickerPlayerFragment"
            android:label="@string/lpt_title">
        </activity>
        <activity
            android:name=".activity.match.MatchFragment"
            android:label="@string/title_activity_match">

        </activity>
        <activity
            android:name=".activity.match.PointFragment"
            android:parentActivityName=".activity.match.MatchFragment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.match.MatchFragment"/>
        </activity>
    </application>

</manifest>
